# 语法规范
# 1、 #：开头的行表示注释行
# 2、：用来匹配零个或多个字符
# 3、.a表示忽略.a文件；
# .[oa]表示忽略所有以.a和.o结尾的文件，忽略所有以结尾的文件；
# []用来匹配括号内的任一字符，如[abc]，也可以在括号内加连接符，如[0-9]匹配0至9的数；
# ?用来匹配单个字符；
# 4、!：用来否定忽略
# 比如前面用了.txt，然后使用!a.txt，则这个a.txt不会被忽略
# 5、/：
# 正斜杠在前：匹配项目跟目录；如/bin表示忽略根目录下的bin文件，/bsp表示忽略根目录下的bsp文件夹， 但不忽略子目录里的user/bsp文件夹；
# 正斜杠在后：匹配文件夹以及在该文件夹路径下的内容，但是不匹配该文件；如bsp/表示忽略bsp文件夹里的所有文件；
# 6、**：匹配多级目录，可在开始，中间，结束；


# 忽略所有的 node_modules
node_modules/

# 但不要忽略 node_modules 中的 某一資料夾
!node_modules/bootstrap/


